<footer role="contentinfo">
	<div class="source-org vcard copyright">
		<!-- Your Footer Here / http://microformats.org/profile/hcard-->
		<div class="row">
		<div class="col-xs-12">
		<p>Copyright &copy; 2013 <a class="org fn url" href="#" target="_blank">your brand</a>, company. Terms Privacy Security Contact</p>
		</div>
		</div>

		<!-- MARKQUERY AND OPENSOURCES LICENSE -->
		<div class="row">
		<div class="col-xs-12">
		<ul class="license-links">
		<li>Customize Your Contents <a title="go to markquery" href="http://markquery.com/" target="_blank">MARKQUERY </a> Project maintained  by <a title ="go to github project" href="https://github.com/markquery/">Ungki, H</a></li>
		<li class="text-muted">&middot;</li>
		<li>Hosted by <a title="go to github" href="https://github.com/" target="_blank">GitHub</a></li>
		<li class="text-muted">&middot;</li>
		<li>Powered by <a title="go to docpad" href="http://docpad.org/" target="_blank">DocPad</a></li>
		<li class="text-muted">&middot;</li>
		<li>Based on <a title="go to bootstrap" href="http://twitter.github.io/bootstrap/" target="_blank">Bootstrap</a></li>
		<li class="text-muted">&middot;</li>
		<li><a title="go to less" href="http://lesscss.org/" target="_blank">Less</a></li>
		<li class="text-muted">&middot;</li>
		<li><a title="go to coffeescript" href="http://coffeescript.org/" target="_blank">CoffeeScript</a></li>
		<li class="text-muted">&middot;</li>
		<li>etc.</li>
		<li class="text-muted">&middot;</li>
		<li><a title="go to about" href="http://markquery.github.io/license/" target="_blank">About</a></li> 
		</ul>
		</div>
		</div>

	</div><!-- /.vcard microformats -->
</footer>